__pycache__

indeterminatebeam/__pycache__

ipynb_renumber.py
docs/_build

dist/

MANIFEST

indeterminatebeam/app_*

indeterminatebeam/TODO.txt

venv

tests/*.txt
tests/test_sympy.py
tool_comparison_table.aux
tool_comparison_table.log
tool_comparison_table.out
tool_comparison_table.synctex.gz

*/ss