__pycache__

indeterminatebeam/__pycache__

ipynb_renumber.py
docs/_build

dist/

MANIFEST

indeterminatebeam/app_*

indeterminatebeam/TODO.txt

venv

tests/*.txt
tests/test_sympy.py
tool_comparison_table.aux
tool_comparison_table.log
tool_comparison_table.out
tool_comparison_table.synctex.gz

*/ss
IndeterminateBeam_Article.md
indeterminatebeam-2.1.4/setup.cfg
indeterminatebeam-2.1.4/setup.py
indeterminatebeam.egg-info/dependency_links.txt
indeterminatebeam.egg-info/PKG-INFO
indeterminatebeam.egg-info/SOURCES.txt
indeterminatebeam.egg-info/top_level.txt
indeterminatebeam.egg-info/requires.txt
indeterminatebeam-2.1.4/README.md
