numpy>=1.19.2 # for numerical calculations
sphinx>=3.3.1  # generating documentation
sphinx_rtd_theme>=0.4.3  # docs theme
sympy>=1.4  # for analytical integration
sphinxcontrib-bibtex ##for sphinx bib importing
plotly>=4.14.1
#kaleido # for saving figures, removed to make loading in google colab faster
dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
gunicorn