alabaster==0.7.12
Babel==2.9.0
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cycler==0.10.0
dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
docutils==0.16
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
gunicorn==20.0.4
idna==2.10
imagesize==1.2.0
indeterminatebeam==1.2.2
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
latexcodec==2.0.1
MarkupSafe==1.1.1
mpmath==1.1.0
numpy==1.19.5
packaging==20.8
Pillow==8.1.0
plotly==4.14.3
pybtex==0.24.0
pybtex-docutils==1.0.0
Pygments==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4.1
requests==2.25.1
retrying==1.3.3
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.1.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sympy==1.7.1
urllib3==1.26.3
Werkzeug==1.0.1
